
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href= <%=root_path %> >Movemaker </a>


      <ul class="navbar-nav ml-auto">

        <li class="nav-item" id="nav-item-1">
          <a class="nav-link" href= <%=new_user_path %>>Sign up</a><br>
        </li><br><br>
        <li class="nav-item">
          <a class="nav-link" href= <%=signin_path %>>Sign in</a>
        </li><br><br>
        <li class="nav-item" id="nav-item-1">
          <a class="nav-link" href= <%='/auth/facebook' %>>Log in with Facebook!</a><br>
        </li><br><br>
      </ul>
    </div>

</nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full">
      <img class="img-fluid d-block mx-auto" src="/img/tip-toed.jpg" alt="">
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Classes for every level</h1>
        <p class="lead">We offer classes from beginner to advanced.</p>
        <p>Make the most of your membership and try all our class types. From ballet to hip hop, we've got it all.</p>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full">
      <img class="img-fluid d-block mx-auto" src="/img/street-dancer.jpg" alt="">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Track your lessons</h1>
        <p class="lead">With our Movemaker app, you can track all the lessons you sign up for.</p>
        <p>Book, cancel, and view all our available lessons right within your Movemaker profile.</p>
      </div>
    </section>

    <style>
    .navbar-nav {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
      padding: 2px;
    }
    #nav-item-1 {
      padding-right: 10px;
    }
    </style>
