<h1><%= @user.name %></h1>
<%= link_to("Log Out", {:controller=> "sessions", :action=> "destroy"}, :method => :post) %>

<ul>
<% @user.bookings.each do |b| %>
<li><%= link_to b.lesson.name, user_booking_path(current_user, b) %></li><br>
<li><%= b.lesson.display_date %></li>
<% end %>
