<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href=<%=user_path(current_user) %>>Movemaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    </div>
  </div>
</nav>

<h1>Edit an existing lesson</h1>
<%= render 'form', locals: {lesson: @lesson}%>

<style>

footer {
  position: absolute;
  height: 20px;
  padding-top: 100px;
  bottom: 0;
  width: 100%;
}
</style>
